@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
/* -------------------- */
/* Shared */
/* -------------------- */

body {
  font-family: Inter, sans-serif;
}

.bold-text,
strong {
  font-weight: 600;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* -------------------- */
/* Header */
/* -------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-brand img {
  width: 4rem;
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #3f3f3f;
}

nav a:hover {
  font-weight: 500;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: gainsboro;
  padding: 0.4rem;
  border-radius: 9999px;
}

input[type="search"] {
  outline: none;
  border: none;
  background-color: transparent;
}

.header-dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-dropdown img {
  height: 2rem;
  width: 2rem;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.bell-icon {
  color: gainsboro;
}

.add-user {
  all: unset;
  width: 2rem;
  height: 2rem;
  background-color: #3f3f3f;
  color: gainsboro;
  border-radius: 9999px;
}
.add-user:active {
  background-color: hotpink;
}

/* -------------------- */
/* Hero */
/* -------------------- */

#hero {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 4rem;
}

.hero-text {
  width: 40%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.hero-text > p {
  margin-bottom: 2rem;
}

.designers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatars .avatar {
  width: 3rem;
  height: 3rem;
}

.inset {
  margin-left: -16px;
}

.avatars .avatar {
  position: relative;
  border: 2px solid white;
}

.hero-image {
  width: 40%;
  position: relative;
}

.hero-image .shape,
.hero-image img {
  width: 70%;
  height: 40rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

.hero-image img {
  object-fit: cover;
}

.hero-image .shape {
  border: 2px solid gainsboro;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: -1;
}

.hero-stats {
  width: 20%;
  align-self: flex-end;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stat h4 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.4rem;
}

.stat p {
  color: #3f3f3f;
}

/* -------------------- */
/* Card Section */
/* -------------------- */

/* -------------------- */
/* Footer */
/* -------------------- */
